.navbar{
  background-color: var(--color-burgundy);
  color: var(--color-white);
  min-height: 3.75rem;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.5rem;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--alex-brush);
  font-size: clamp(1.625rem, 1rem + 1.25vw, 2.5rem);
}


.navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
}
.navlink{
  white-space: nowrap;
}
.navlinks li a{
  font-family: var(--montserrat);
  font-size: clamp(0.75rem, 0.5rem + 0.625vw, 1rem);
  font-weight: 200;
}


.nav-btn button{
  background-color: var(--color-black);
}
