.featured-products__handbag-card{
  /* border: 1px solid var(--color-white); */
  display: grid;
  grid-template-rows: 1fr 0.35fr 0.25fr;
  align-items: stretch;
}


.featured-products__handbag-details{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding: 0.625rem;
  background-color: #1E1510;
  flex-wrap: wrap;
  text-align: left;
}

.featured-products__handbag-details > h3{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Sets the maximum number of lines */
  -webkit-box-orient: vertical;  
  overflow: hidden; /* Hides the rest of the text */

  min-height: 2lh; 
}

.featured-products__handbag-card > button{
  background-color: var(--color-black, #000000);
  color: var(--color-white);

}

.featured-products__handbag-card > button:hover{
  background-color: var(--color-burgundy-dark);
}

